<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Appointment Details</h1>
  <!-- It won't show if there is no appointment data -->
  <a routerLink="/register-appointment" class="btn btn-success" *ngIf="hideWhenNoappointment">
    <i class="fas fa-plus custom-fa-plus"></i>
    Add Appointment
  </a>
</div>

<div class="pricing-header mx-auto">
<div class="search-hero">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchAppointment" autocomplete="off" placeholder="Search by ailment, Id, username">
    </div>
  <!-- Preloader shows before the data loads-->
  <div class="no-data text-center" *ngIf="preLoader">
    <img src="assets/preloader.gif" class="preloader-icon" alt="No Appointment">
  </div>

  <!-- No data shows when their is no appointment data available -->
  <div class="no-data text-center" *ngIf="noData">
    <img src="assets/no-appointment.svg" class="nodata-msg" alt="No Appointment">
    <p class="nodata-msg">No Appointment yet!</p>
    <a routerLink="/register-appointment" class="btn btn-success">
      <i class="fas fa-plus custom-fa-plus"></i>
      Add Appointment
    </a>
  </div>

  <!-- Showing appointments data -->
  <div class="table-responsive" *ngIf="hideWhenNoAppointment">
    <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
      <thead>
        <tr>
          <th scope="col">Application Id</th>
          <th scope="col">Ailment</th>
          <th scope="col">Date</th>
          <th scope="col">Status</th>
          <th scope="col">Patient Name</th>
          <th scope="col">Doctor Name</th>
          <th class="text-center" scope="col">Edit</th>
          <th class="text-center" scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <!-- *ngFor loop iterates over appointment array and fetch the appointment's data -->
        <!-- paginate pipe will add pagination in appointment's list, it won't show if items are less then 7 -->
        <tr *ngFor="let appointment of Appointment | filter:searchAppointment | paginate: { itemsPerPage: 7, currentPage: p }; let i = index;">
          <th scope="row">{{appointment.$key}}</th>
          <td>{{appointment.ailment}}</td>
          <td>{{appointment.creationDate}}</td>
          <td *ngIf="appointment.status==2" style="color:green">Accepted</td>
          <td *ngIf="appointment.status==1" style="color:yellow">Pending</td>
          <td *ngIf="appointment.status==0" style="color:red">Rejected</td>
          <td>{{appointment.patient.name}}</td>
          <td>{{appointment.doctor.employeeName}}</td>
          <td class="text-center action-block">
            <i class="far fa-edit" routerLink="/edit-appointment/{{appointment.$key}}"></i></td>
           <td> <i class="far fa-trash-alt" (click)="deleteAppointment(appointment)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Pagination -->
  <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"></pagination-controls>

</div>