<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Students List</h1>
  <!-- It won't show if there is no student data -->
  <a routerLink="/register-student" class="btn btn-success" *ngIf="hideWhenNoStudent">
    <i class="fas fa-plus custom-fa-plus"></i>
    Add Appointment
  </a>
</div>

<div class="pricing-header mx-auto">

  <!-- Preloader shows before the data loads-->
  <div class="no-data text-center" *ngIf="preLoader">
    <img src="assets/preloader.gif" class="preloader-icon" alt="No student">
  </div>

  <!-- No data shows when their is no student data available -->
  <div class="no-data text-center" *ngIf="noData">
    <img src="assets/no-student.svg" class="nodata-msg" alt="No student">
    <p class="nodata-msg">No Appointment yet!</p>
    <a routerLink="/register-student" class="btn btn-success">
      <i class="fas fa-plus custom-fa-plus"></i>
      Add Appointment
    </a>
  </div>

  <!-- Showing students data -->
  <div class="table-responsive" *ngIf="hideWhenNoAppointment">
    <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
      <thead>
        <tr>
          <th scope="col">Application Id</th>
          <th scope="col">Ailment</th>
          <th scope="col">Date</th>
          <th scope="col">Status</th>
          <th scope="col">PatientID</th>
          <th scope="col">DoctorID</th>
          <th class="text-center" scope="col">Edit</th>
          <th class="text-center" scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <!-- *ngFor loop iterates over Student array and fetch the student's data -->
        <!-- paginate pipe will add pagination in student's list, it won't show if items are less then 7 -->
        <tr *ngFor="let appointment of Appointment | paginate: { itemsPerPage: 7, currentPage: p }; let i = index;">
          <th scope="row">{{appointment.$key}}</th>
          <td>{{appointment.ailment}}</td>
          <td>{{appointment.date}}</td>
          <td *ngIf="appointment.status==2">Hello</td>
          <td *ngIf="appointment.status!=2">Hel</td>
          <td>{{appointment.patientID}}</td>
          <td>{{appointment.doctorID}}</td>
          <td class="text-center action-block">
            <i class="far fa-edit" routerLink="/edit-student/{{appointment.$key}}"></i></td>
           <td> <i class="far fa-trash-alt" (click)="deleteAppointment(appointment)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Pagination -->
  <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"></pagination-controls>

</div>